<!--The whole content below can be removed with the new code.-->

<!-- {{product | json}}
<app-student></app-student>


<button class="btn btn-primary" (click)="getStudents()">Get Student</button>

<hr>-->

<!-- <app-employee></app-employee>

<hr> 
<app-post></app-post> -->

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Student Management App</a>
      </div>
      <ul class="nav navbar-nav">
        <li  *ngIf="loginService.isLoggedIn" ><a routerLink="employee" routerLinkActive="active">Employee</a></li>
        <li  *ngIf="loginService.isLoggedIn" ><a routerLink="post" routerLinkActive="active">Post</a></li>
        <li  *ngIf="loginService.isLoggedIn" ><a routerLink="student" routerLinkActive="active">Student</a></li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
