<!-- <h1>{{title}}</h1>

<div [hidden]="isVisible" [innerText]="title">
</div>

<button class="btn btn-primary" (click)="toggle()">Toggle</button> -->

<h1>
  Student Form
</h1>
<!-- {{title}}
<input type="text" [value]="title" name="title">

<input type="text" [(ngModel)]="title" name="name"> -->

<form #studentForm="ngForm"  (submit)="addStudent()" novalidate>
  <!-- <div class="form-group">
        <input required class="form-control" #studentid="ngModel" type="number" [(ngModel)]="student.id" name="id" placeholder="Student Id">
        {{studentid.value|json}}
        <div [hidden]="studentid.valid" class="alter alert-danger">
            Please enter student Id.
             {{studentid.valid|json}}
            {{studentid.invalid|json}}
            {{studentid.errors|json}} 
        </div>
  </div> -->
  <div class="form-group">
        <input required class="form-control" maxlength="5" minlength="3"   #studentName="ngModel" type="text" [(ngModel)]="student.name" name="name" placeholder="Student Name">
        <div [hidden]="studentName.valid">
            The Student Name is required
        </div>
        <div>
            {{error}}
        </div>
 
  </div>
  <div class="form-group">
        <input required class="form-control" type="text" [(ngModel)]="student.address" name="address" placeholder="Student Adreess">
  </div>
  <div class="form-group">
        <input required class="form-control" type="number" [(ngModel)]="student.age" name="age" placeholder="Student Age">
  </div>
  <div class="form-group">
        <input required class="form-control" type="date" [(ngModel)]="student.dob" name="dob" placeholder="Student DOB">
  </div>
  <div class="form-group">
      <button [disabled]="studentForm.invalid" type="submit" class="btn btn-primary">Add Student</button>
  </div>
</form>
{{studentData|json}}
<app-student-list [studentList]="studentData" (hidden)="handleChildEvent($event)"></app-student-list>

<router-outlet></router-outlet>

<button class="btn btn-primary" (click)="addStudent()">Add Student</button>
