<!-- {{studentList| json}} -->

{{fee}}
<input type="number" class="form-control" [(ngModel)]="fee" name="fee">
  <table class="table">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Age
        </th>
        <th>
          DOB
        </th>
        <th>
          Fee
        </th>
        <th>
          Addess
        </th>
        <th>
          Details
        </th>
        <th>
          Edit
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList | fee : fee  ;let i= index">
        <td>
          {{student.id}}
        </td>
        <td>
          {{student.name | name : 'test' : 3  | uppercase}}
        </td>
        <td>
          {{student.age}}
        </td>
        <td>
          {{student.dob | date:'dd-MM-yyyy'}}
        </td>
        <td>
          {{student.fee | currency:'INR'}}
        </td>
        <td>
          {{student.address | lowercase}}
        </td>
        <td>
          <button type="buttson" [routerLink]="[student.id]" class="btn btn-primary" >Details</button>
        </td>
        <td>
          <button type="button" mat-raised-button color="primary" (click)="edit(student)" >Edit</button>
        </td>
      </tr>
    </tbody>
  </table>


<button class="btn btn-primary" (click)="toggle()">Toggle</button>

{{userRole}}
<div [ngSwitch]="userRole">
  <div *ngSwitchCase="'User'">
    This is User
  </div>
  <div *ngSwitchCase="'Admin'">
    This is Admin
  </div>
</div>
