{{studentList| json}}


  <table class="table">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Age
        </th>
        <th>
          DOB
        </th>
        <th>
          Addess
        </th>
        <th>
          Details
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList;let i= index">
        <td>
          {{student.id}}
        </td>
        <td>
          {{student.name}}
        </td>
        <td>
          {{student.age}}
        </td>
        <td>
          {{student.dob}}
        </td>
        <td>
          {{student.address}}
        </td>
        <td>
          <button type="button" [routerLink]="[student.id]" class="btn btn-primary" >Details</button>
        </td>
      </tr>
    </tbody>
  </table>


<button class="btn btn-primary" (click)="toggle()">Toggle</button>

{{userRole}}
<div [ngSwitch]="userRole">
  <div *ngSwitchCase="'User'">
    This is User
  </div>
  <div *ngSwitchCase="'Admin'">
    This is Admin
  </div>
</div>
